.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 2.437rem 2rem;
}


.posts {

  transition: filter 0.2s;

  &:hover h1{
    cursor: pointer;
    filter: brightness(0.8);
  }

  h1 {
    font-size: 1.75rem;
  }

  p {
    margin-top: 0.5334rem;
    color: var(--gray-300);
    font-size: 1.125rem;
  }

  time {
    margin-top: 0.5334rem;
    color: var(--gray-300);
    font-size: 1.125rem;
  }

}

.postsContainer {
  max-width: 720px;
  margin: 5rem auto 0;
  list-style: none;
}

.postsInfos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5625rem;
  margin-bottom: 3rem;
  color: var(--gray-300);

  time {
    font-size: 0.875rem;
    margin: 0;
  }

  span {
    font-size: 0.875rem;
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.65625rem;
  }

  div {
    display: flex;
    align-items: center;

    &+div {
      margin-left: 1.5rem;
    }
  }
}


.loadMorePosts {
  max-width: 11rem;
  background: transparent;
  outline: none;
  border: none;
  color: var(--pink);
  transition: filter 0.2s;
  margin-top: 1.125rem;

  &:hover{
    filter: brightness(0.9);
  }

}
